.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3vh;
}

.art-list-item {
    display: flex;
    flex-direction: column;
}

.art-list-item > p {
    text-align: center;
    width: 100%;
    font-size: 4vh;
    font-family: nunito;
    color: #E76F51;
    font-weight: 600;
}

.art-image {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.art-list-item > button {
    display: inline-block;
    padding: 0.3vw 1.2vw;
    margin: 2vh auto 0 auto;
    border: 0.16vw solid rgba(255,255,255,0);
    border-radius: 2vw;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04vw 0.04vw rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #2A9D8F;
    width: 70%;
}

.art-list-item > button:hover {
    cursor: pointer;
}